a{ color:#fff; }
body{
	font-size:12px;
	padding:0;margin:0;
	font-weight: 300;
}
* {
font-family: Helvetica, Arial, sans-serif;
}
#container, body>#container{
	margin:0;
	padding:0;
}
#header{
	border-top:10px solid #222;
	background: url('../img/headerhr.gif') bottom repeat-x transparent;
	padding-bottom: 10px;
}
#header-content{
	margin: 0;
	padding: 0;
	background: url('../img/headerbg.png') bottom repeat-x transparent;
}
#header-inner {
    width: 960px;
    margin: 0 auto;
}
#header h1{
	margin: 0 auto;
	padding: 0;
	height: 90px;
	display: inline-block;
}
#header h1 a{
	background: url('../img/header.png') no-repeat top left;
	height: 80px;
	width: 242px;
	display: block; 
	border: none;
	font-size: 3px;
	padding: 0;
	margin: 0;
	float: left;
}
#header h1 a span {
	display: none;
}
#header h1 div {
	height: 64px;
	padding-top: 26px;
	margin-left: 242px;
}
#header h2 {
	font-size: 16px;
	color: #444;
	margin: 0 0 4px;
	font-weight: 400;
}

#countdown {
    display: inline-block;
   float: right;
	background:#222;
	color:#8BB1F1;
	padding:0 10px;
	box-shadow: 1px 1px 2px #aaa;
	-moz-box-shadow: 1px 1px 2px #aaa;
	-webkit-box-shadow: 1px 1px 2px #aaa;
	position:relative;
	top:-5px;
}
.cd {
	width:50px;
	float:left;
	text-align:center;
	padding: 2px;
	padding-top:1px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
.cd-sub{
	display:block;
	font-size:12px;
	font-weight:normal;
	color:#ddd;
	position:relative;
	top:-2px;
}

/* body */
#body{
	width:960px;
	margin:0 auto; 
	padding:0;
	clear:both;
	background:#fff;
}
#c1,#c2,#c3{
	float:left;
	margin-right:15px;
	width:310px;
}
#gray {
	height: 101px;
	width: 310px;
	background-color: #c3c3c3;
	margin-bottom: 15px;
}
#movie {
	text-align: center;
	display: none;
}
#movie div {
	position: absolute;
	top: 50%;
	margin-top: -270px;
	left: 50%;
	margin-left: -480px;
	background: url('/img/ajax-loader.gif') no-repeat center center transparent;
	width: 960px;
	height: 540px;
}
#movie #close {
    display: inline-block;
    color: #FFF;
    position: relative;
    top: -34px;
    float: right;
    padding: 5px;
    font-size: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}
#movie #close:hover {
    background-color: #444;
    cursor: pointer;
}
#movie #close span {
    display: inline-block;
    position: relative;
    top: 2px;
}
#c3{
	margin:0;
}
#event, #exhibitors, #students{
	float:left;
	padding:10px;
	width:290px;
	clear:left;
}
#think{
	width:129px;background:#f29523;
	background:#e0861f;
	color:#fff;
	margin-right:15px;
	height:147px;
	padding:10px;
}
h3{
	padding:0;
	margin:0;
	margin-bottom:5px;
	font-weight:normal;
	font-size:30px;
	font-family:"Helvetica Neue Light", Arial, Helvetica, sans-serif;
}
.box{
	float:left;
}
#menu ul, #menu li{
	display:inherit;
	list-style:none;
	margin:0;
	padding:0;
}
#menu a{
	height:30px;
	
	vertical-align:middle;
	width:93px;
	margin-right:15px;
	padding:35px 0;
	text-align:center;
	display:table-cell;
	color:#fff; margin-bottom:15px;
	text-decoration:none;
	font-size:20px;
	font-family:"Helvetica Neue Light", Arial, Helvetica, sans-serif;
	border:0;
}

#map a{ background:#e0861f;} 
#map a:hover { background:#c5863e; text-decoration:none !important;}
#team a{ background:#9f5d16; }
#team a:hover {background:#7a5226;text-decoration:none!important;}
#history a{ margin:0;background:#613b0e;}
#history a:hover {background:#4d3418;text-decoration:none!important;}

#event{ background:#383838; color:#fff; height:313px; margin-bottom:15px;line-height:16px;}
#event a {
    font-size: 1.4em;
}
#event table {
    border-collapse: collapse;
    margin: 8px 0;
}
#event th {
    font-weight: 400;
    text-align: right;
    padding: 6px 12px 6px 8px;
    width: 100px;
}
#event td {
    padding: 5px 10px 5px 0;
    color: #DDD;
}
#event .mainFair th {
    font-size: 15px;
    background-color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
}
#event .mainFair td {
    background-color: #444;
    padding-top: 10px;
    padding-bottom: 10px;
}
#exhibitors{ background:#4078d6; height:147px;} 
#students { background:#8bb1f1; height:196px; margin-bottom:15px;}
#exhibitors a, #students a {
	font-size:20px;
	color:#fff;
	margin-left:20px;
	text-decoration:none;
	margin-bottom:10px; 
}
#body a:hover {
	text-decoration: underline;
	color: #DDD;
}
#photo2{
	width:306px;
	height: 329px;
	margin-bottom:15px;
	display:block;
	padding: 2px;
	-webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.5s;
}
#photo2:hover {
    background-color: #EEE;
    cursor: pointer;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.5s;
}
#photo2 img {
    float: left;
    margin: 0 2px 2px 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s;
}
#photo2:hover img {
    opacity: 0.5;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.5s;
}

#photo1{
	height:167px;
	width: 146px;
	 display:block;
}
#photo3{
	width: 311px;
	height:169px;
	 display:block;
}
#footer-content{
	width:960px; 
	color:#fff;
	display:block;
	margin:0 auto;
}
#footer{
	background: url('/img/footer.png') repeat-x;
	border-top: 15px solid #FFF;
	display:block;
	margin:0;
	display:block;
	padding-bottom:20px;
}
#footer-links ul{
	list-style:none;
	margin:10px 0;
}
#footer-links{
	float:right;
}
#footer-links li{
	font-size:20px;
	display:block;
	float:right;
	clear:right; 
	color:#646464; 
}
#footer-links a{
text-decoration:none;
	
	color:#fff;
}
#footer-links a:hover{border:inherit;}
.twtr-hd, .twtr-ft{
	display:none;
}
