.home-container .carousel {
    position: relative;
    background: url('../img/homepage/home_bg.jpg');
    height: 350px;
    animation: carousel 48s infinite;
    -webkit-animation: carousel 48s infinite;
    -moz-animation: carousel 48s infinite;
}

@-moz-keyframes carousel {
    0% { background-position: 0 0; }
      13% { background-position: 0 0; }
    17% { background-position: 0 350px; }
      30% { background-position: 0 350px; }
    33% { background-position: 0 700px; }
      47% { background-position: 0 700px; }
    50% { background-position: 0 1050px; }
      63% { background-position: 0 1050px; }
    67% { background-position: 0 1400px; }
      80% { background-position: 0 1400px; }
    83% { background-position: 0 1750px; }
      97% { background-position: 0 1750px; }
    100% { background-position: 0 2100px; }
}

@-webkit-keyframes carousel {
    0% { background-position: 0 0; }
      13% { background-position: 0 0; }
    17% { background-position: 0 350px; }
      30% { background-position: 0 350px; }
    33% { background-position: 0 700px; }
      47% { background-position: 0 700px; }
    50% { background-position: 0 1050px; }
      63% { background-position: 0 1050px; }
    67% { background-position: 0 1400px; }
      80% { background-position: 0 1400px; }
    83% { background-position: 0 1750px; }
      97% { background-position: 0 1750px; }
    100% { background-position: 0 2100px; }
}

.home-container .carousel .caption {
    padding: 20px 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 48%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(48%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 48%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 48%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 48%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 48%,rgba(0,0,0,0.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}

.home-container .carousel h1 {
    font-size: 56px;
    font-family: 'Open Sans', 'sans-serif';
    color: white;
}

.home-container .carousel p {
    color: white;
}
.home-container .for-companies {
    background: #1790ee;
    color: white;
    padding: 5px;
    font-size: 14px;
    padding-left: 40px;
}
.home-container .for-companies a {
    color: white;
    text-decoration: underline;
}
.home-container .tile {
    padding: 20px 40px;
    color: #222;
}
.home-container .half.tile {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.home-container .main-fair {

}
.home-container h2.techfair2013 {
    font-size: 42px;
    font-weight: 600;
}

.home-container h2 {
    font-size: 36px;
    color: #1790ee;
}

.home-container .map {
    float: right;
    margin-left: 20px;
}
.home-container .palantir-logo {
    height: 75px;
    float: right;
    margin: 5px 50px;
}
.home-container .map {
    border: 2px solid #1790ee;
}
.home-container .event-details {
    margin: 10px 0 0 20px;
}
.home-container .fair-detail {
    margin-top: 5px;
}
.home-container .event-details .sub {
    color: #666;
    background: #EEE;
    padding: 2px 4px;
    border-radius: 2px;
}
.home-container .detail-caption {
    margin-left: 20px;
}
.home-container .event-details .typicn {
    float: left;
    margin-top: 4px;
    color: #888;
}
.home-container a .typicn.nofloat {
    float: none;
    position: relative;
    top: 3px;
    color: #1790ee;
}
.home-container a {
    color: #1790ee;
    text-decoration: none;
}
.home-container a:hover,
.home-container a:hover .typicn.nofloat {
    color: #666;
}
.home-container p {
    margin-top: 5px;
}

.speaker-time {
    font-weight: bold;
    display: inline-block;
    width: 60px;
    text-align: right;
}
.speaker-affiliation {
    background: #AAA;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 600;
}

.speaker-mugs {
    float: right;
    clear: right;
    width: 200px;
    margin: 20px 0 0 20px;
    opacity: 0.8;
    transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
    -moz-transition: opacity ease 0.5s;
}
.speaker-mugs a {
    display: inline-block;
    vertical-align: top;
}
.speaker-mugs .checkout-lineup {
    background: #222;
    color: white;
    width: 90px;
    height: 70px;
    display: inline-block;
    text-align: center;
    padding: 25px 5px 5px;
    text-transform: uppercase;
}
.speaker-mugs:hover {
    opacity: 1;
}
.speaker-mugs img {
    display: inline-block;
    float: left;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    opacity: 0.8;
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
}
.speaker-mugs img:hover {
    opacity: 1;
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
}

.tile.announcement {
    background: #f4f4f8;
    padding: 20px;
    margin: 15px 15px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.tile.announcement h2 {
    font-size: 18px;
    font-weight: 700;
}
.tile.announcement p {
    font-size: 14px;
}

.tt-poster {
    display: block;
    margin: 50px auto 20px;
}
