/*
 * RESET
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img { 
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q: before,q: after {
	content: '';
}
abbr,acronym { border: 0;
}

/*
 * GENERAL STYLES
 */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.success {
	background-color: #78AB46;
	color: white;
	font-size: 20px;
	padding: 16px;
	text-align: center;
	margin-bottom: 10px;
}

/*
 * STRUCTURE
 */
#container {
	width: 940px;
	margin: 0 auto;
}
/* HEADER */
#header{
	background: url('../img/headerhr.gif') bottom repeat-x transparent;
	padding-bottom: 10px;
}
#header-content{
	margin: 0;
	padding: 0;
	background: url('../img/headerbg.png') bottom repeat-x transparent;
}
#header h1{
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 90px;
}
#header h1 a{
	background: url('../img/header.png') no-repeat top left;
	height: 80px;
	width: 242px;
	display: block; 
	border: none;
	font-size: 3px;
	padding: 0;
	margin: 0;
	float: left;
}
#header h1 a span {
	display: none;
}
#header h1 div {
	height: 64px;
	padding-top: 26px;
	margin-left: 280px;
}
#header h2 {
	font-size: 16px;
	color: #444;
	margin-bottom: 4px;
	font-weight: 400;
}
.navEl {
	float: left;
}
#nav {
	margin: 0 auto 10px;
	width: 940px;
}
#navleft {
	width: 50px;
	margin-right: 10px;
}
#navleft1 {
	height: 130px;
	background-color: #f29523;
	margin-bottom: 10px;
}
#navleft2 {
	height: 60px;
	background-color: #383838;
	margin-bottom: 10px;
}
#navleft3 {
	height: 20px;
	background-color: #8bb1f1;
}
#navlinks {
	width: 180px;
	height: 210px;
	padding: 10px;
	background-color: #4078d6;
	margin-right: 10px;
}
#navlinks a {
	text-decoration: none;
	color: white;
	font-weight: 300;
	font-size: 16px;
	display: block;
	padding: 3px;
}
#navlinks a.current {
	background-color: #444;
	color: #FFF;
}
#navlinks a:hover {
	color: #333;
	background-color: #DDD;
}
#navlinks a:hover span {
	text-decoration: underline;
}
#navlinks li li a {
	margin-left: 20px;
	color: #CCC;
	font-size: 14px;
}
#navlinks li li a:hover {
	background-color: #CCC;
}
#navlinks .collapse {
	display: none;
}
#photo {
	width: 670px;
	height: 230px;
	background-color: #DDD;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* CONTENT */
#content {
	border-left: 260px solid #c3c3c3;
	clear: both;
	padding: 10px 10px 20px;
}
#content a {
	color: #4078D6;
}
#content h1 {
	margin-left: -265px;
	border-left: 260px solid #ffffff;
	font-size: 30px;
	font-weight: 300;
	padding-left: 5px;
}
#content h2 {
	font-size: 24px;
	color: #4078D6;
	margin: 10px 0 5px -185px;
	border-left: 180px solid #4078D6;
	padding-left: 5px;
}
#content h3 {
	font-size: 20px;
	color: #F29523;
	margin: 10px 0 0;
	margin-left: -65px;
	border-left: 60px solid #F29523;
	padding-left: 5px;
}
#content p {
	padding: 5px 0;
	font-size: 13px;
	line-height: 20px;
	color: #444;
}
#content strong {
	font-weight: 600;
}

/* FOOTER */
#footer-content {
	width: 960px; 
	color: #fff;
	display: block;
	margin: 0 auto;
}
#footer {
	background: url('/img/footer.png') repeat-x;
	border-top: 15px solid #fff;
	display: block;
	margin: 0;
	display: block;
	padding-bottom: 20px;
}
#footer-links ul {
	list-style: none;
}
#footer-links {
	float: right;
}
#footer-links li {
	font-size: 20px;
	display: block;
	float: right;
	clear: right; 
	color: #646464; 
}
#footer-links a {
	text-decoration: none;
	color: #fff;
}
#footer-links a:hover {
	border: inherit;
}
#footer-links ul {
	margin: 10px 0;
}

/* SPONSORSHIP TABLE */
table#sponsorship {
	color: #333;
}
table#sponsorship th {
	font-weight: 600;
}
table#sponsorship td, table#sponsorship th {
	padding: 5px;
	text-align: center;
	width: 200px;
}
table#sponsorship td.gold {
	background-color: #EEEE00;
	font-size: 16px;
	padding: 10px 5px;
}
table#sponsorship td.silver {
	background-color: #CCC;
	font-size: 16px;
	padding: 10px 5px;
}
table#sponsorship td.bronze {
	background-color: #8C7853;
	font-size: 16px;
	padding: 10px 5px;
}
table#sponsorship tr.pricing th {
	font-size: 18px;
	color: #000;
	background-color: #CDCDCD;
}
table#sponsorship tr.pricing td {
	font-size: 18px;
	color: #000;
	background-color: #DDD;
}
table#sponsorship th {
	text-align: right;
}
table#sponsorship tr:nth-child(even) td {
	background-color: #EEE;
}
table#sponsorship tr:nth-child(even) th {
	background-color: #DDD;
}

/*
 * TEAM
 */
.teamImage {
	float: left;
}
.team {
	float: left;
	width: 350px;
	padding-left: 10px;
	color: #444;
}
.team h3 {
	border-left: 10px solid #F29523 !important;
	margin-left: 0 !important;
	margin-bottom: 5px !important;
}
.team h4 {
	border-left: 20px solid #CCC !important;
	padding-left: 5px;
	font-size: 15px !important;
	color: #666;
	margin-bottom: 5px !important;
}

/*
 * FORM
 */
form th {
	padding: 5px;
	text-align: right;
	font-size: 18px;
}
form td {
	padding: 5px;
	font-size: 18px;
}
input[type=text], input[type=password] {
	padding: 8px;
	font-size: 18px;
	border: 1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #4078D6;
}
button {
	border: 1px solid #CCC;
	height: 38px;
	padding: 0 10px;
	font-size: 18px;
	background: url('/img/button.png') repeat-x transparent;
	border-radius: 4px;
	-moz-border-radius: 4px;
	vertical-align: bottom;
}
button:hover {
	border: 1px solid #4078D6;
	cursor: pointer;
}
form td.error {
	font-size: 14px;
	color: #FF0000;
}
ul.radio span {
	font-size: 14px;
	margin-left: 5px;
}