/*
 * RESET
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img { 
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q: before,q: after {
	content: '';
}
abbr,acronym { border: 0;
}

/*
 * GENERAL STYLES
 */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;margin: 0;
	/*background: url(../img/bg.gif);*/
}
a {
	color: #FFF;
}

/*
 * STRUCTURE
 */
#container {
	width: 940px;
	margin: 0 auto;
}
/* HEADER */
#header-content{
	margin: 0;
	padding: 0;
	background: url('../img/headerhr.gif') bottom repeat-x #fff;
	padding-bottom: 5px;
}
#header{
	background: #fff;
	padding-bottom: 10px; 
}
#header h1 a{
	background: url('../img/header.png') no-repeat top left;
	height: 80px;
	line-height: auto;
	width: 242px;
	display: block; 
	border: 0;
	text-indent: -32094px;
	font-size: 3px;
	padding: 0;
	margin: 0;
}
#header h1{
	width: 960px;
	background: #fff;
	margin: 0 auto;
	height: 80px;
	padding: 0; 
	margin-bottom: 12px;
	background: url('../img/headersub.png') no-repeat top left;
}
.navEl {
	float: left;
}
#nav {
	margin: 0 auto 10px;
	width: 940px;
}
#navleft {
	width: 50px;
	margin-right: 10px;
}
#navleft1 {
	height: 150px;
	background-color: #f29523;
	margin-bottom: 10px;
}
#navleft2 {
	height: 100px;
	background-color: #383838;
	margin-bottom: 10px;
}
#navleft3 {
	height: 30px;
	background-color: #8bb1f1;
}
#navlinks {
	width: 180px;
	height: 280px;
	padding: 10px;
	background-color: #4078d6;
	margin-right: 10px;
}
#navlinks a {
	margin: 10px 0 0 10px;
	text-decoration: none;
	color: white;
	font-weight: 300;
	font-size: 20px;
}
#navlinks li li a {
	margin-left: 20px;
	color: #CCC;
	font-size: 16px;
}
#photo {
	width: 670px;
	height: 300px;
	background-color: #DDD;
}
.clearfix: after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* CONTENT */
#content {
	border-left: 260px solid #c3c3c3;
	clear: both;
	padding: 10px 10px 20px;
}
#content h1 {
	margin-left: -270px;
	border-left: 260px solid #ffffff;
	padding-left: 10px;
	font-size: 30px;
	font-weight: 300;
}
/* FOOTER */
#footer-content {
	width: 960px; 
	color: #fff;
	display: block;
	margin: 0 auto;
}
#footer {
	background: #222;
	border-top: 15px solid #fff;
	display: block;
	margin: 0;
	display: block;
	padding-bottom: 20px;
}
#footer-links ul {
	list-style: none;
}
#footer-links {
	float: right;
}
#footer-links li {
	font-size: 20px;
	display: block;
	float: right;
	clear: right; 
	color: #646464; 
}
#footer-links a {
	text-decoration: none;
	color: #fff;
}
#footer-links a:hover {
	border: inherit;
}
#footer-links ul {
	margin: 10px 0;
}