<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

	RewriteRule ^drop - [L,NC]

    #Checks to see if the user is attempting to access a valid file or directory
    #Otherwise send request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !drop
    RewriteRule ^(.*)$ index.php?page=/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    ErrorDocument 404 /index.php
</IfModule>